body {
    background: #e2ebe2;
}
#contenedor-turnero {
    color: white;
    background: #1a535c;
    border-radius: 5px;
    max-width: 400px;
 }

 #contenedor-portada {
    color: white;
    max-width: 900px;
    background: #3fa8a1;
    border-radius: 5px;
 }

 .imagen-logo-udenar{
    width: 50%;
 }